body
{
    background-color: greenyellow;
}
.multibrand
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F007aa553ac757392edf5f297b0661888.1000x1000x1.jpg");
}
.pyatzdec
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2Fffe78ee38cc0372713fc939bd6eaab67.512x512x1.jpg");
}
.pogreisya
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F57ceadbf87d24812f00656f1bfd89a0f.1000x1000x1.jpg");
}
.zamerz
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F267442acda62941c654b7d927de457a0.1000x1000x1.jpg");
}
.dodna
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2Fbe0a5759f45119f35e0767455d43c743.1000x1000x1.jpg");
}
.kosmos
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F9e103c2000ee068ec44804fa1e4b4188.499x499x1.jpg");
}
.wherelove
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F704a4a63b290def8a2f8d00f59171e51.1000x1000x1.jpg");
}
.vbvvctnd
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F6354ec8883173cd20d2efb1409613671.512x512x1.jpg");
}
.vitamine
{
    background-image: url("https://i.genius.com/49295012a7ac1406afecbcbf0e9040d45a42bbd4?url=https%3A%2F%2Fpp.vk.me%2Fc837322%2Fv837322637%2F121f7%2Fie0wVFWwybY.jpg");
}
.stil
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F4bf4d045e2ffcde72f58345ddaf5c1f1.512x512x1.jpg");
}
.tvoi
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F12223912594510cb3e5d61329964488a.512x512x1.jpg");
}
.ntrs
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2Fc479fa3efee5501c2e6b1c26c73565f6.1000x1000x1.jpg");
}
.nedobro
{
    background-image: url("https://t2.genius.com/unsafe/220x220/https%3A%2F%2Fimages.genius.com%2Ff25251051a35ec84412756c3240d5335.500x500x1.jpg");
}
.lambada
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2Fa7c445987fa879a3946b876874cae53b.313x313x1.jpg");
}
.shivilytuvileshe
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2F365d9f775f434095b65955c4d86466ba.512x512x1.jpg");
}
.lokoni
{
    background-image: url("https://t2.genius.com/unsafe/220x0/https%3A%2F%2Fimages.genius.com%2Fc9aae138f776f2167e5d6995ff36d522.500x500x1.jpg");
}